@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
* {
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #070707;
    
}

.quotesContainer {
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, .4);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, .2);
}

.quoteText {
    font-size: 2.4rem;
}
.longQuote {
    font-size: 2rem;
}

.fa-quote-left {
    font-size: 5rem;
}
.quoteAuthor {
    margin-top: 12px;
    font-style: italic;
    font-size: 2rem;
    font-weight: 400;
}

.btnContainer {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;

}
button {
    cursor: pointer;
    font-size: 1.3rem;
    height: 2.5rem;
    border: none;
    background: rgba(17, 16, 16, 0.884);
    box-shadow: 0 0.3rem rgba(121, 121, 121, .6);
    border-radius: 10px;
    color: #fff;
    padding: 12px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    transition:all .5s ease-in-out;

}
button:hover {
    filter: brightness(110%);
}
button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, .6);
}

.twitterBtn:hover {
    color: #38a1f3;
}
.fa-twitter {
    font-size: 1.5rem;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3a3a3a; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }




/* MEDIA QUERY  */
@media screen and (max-width:1000px) {
    .quotesContainer {
        margin:auto 10px;
    }
    .quoteText {
        font-size: 2.1rem;
    }
}